
//
// Breakpoints
//
$breakpoint-extra-small: '(min-width: 400px)';
$breakpoint-small: '(min-width: 540px)';
$breakpoint-medium: '(min-width: 768px)';
$breakpoint-large: '(min-width: 1024px)';


//
// Colors
//
$color-aqua: #7fdbff;
$color-black: #111;
$color-blue: #0074d9;
$color-fuchsia: #f012be;
$color-gray: #aaa;
$color-green: #2ecc40;
$color-lime: #01ff70;
$color-maroon: #85144b;
$color-navy: #001f3f;
$color-olive: #3d9970;
$color-orange: #ff851b;
$color-purple: #b10dc9;
$color-red: #ff4136;
$color-silver: #ddd;
$color-teal: #39cccc;
$color-yellow: #ebc148;
$color-white: #fff;
// Domain
$color-dlbi-red: #ed1c27;


//
// Font dimensions
// 
$base-font-size: 16px;
$base-line-height: 1;


//
// Layers
//


//
// Layout
//
$layout-max-width: 1240px;
$layout-space: 1em;
$layout-space-medium: 1.5em;
$layout-space-large: 2em;
